 <template>
    <v-card id="edit">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Редактирование категории</h2>
                    <div>Также можно добавить подкатегории.</div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                            ref="form"
                            :category="category" 
                            :allCategories="allCategories" 
                            :update="true" 
                            :children="children" 
                            :freeCategories="freeCategories"
                            @deletecategory="deletecategory" 
                            @editcategory="fetchData"
                            @refresh="load"
                ></creating-form>
                <v-card-actions>
                    <v-btn flat color="primary" @click="$router.push('/categories')">Вернуться к списку</v-btn>
                    <v-btn :loading="loading" color="primary" @click="save">Сохранить</v-btn>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    export default {
        props: ['title'],
        data() {
            return {
                loading: false,
                category: {
                    name: '',
                    slug: '',
                    parent_id: ''
                },
                allCategories: [],
                children: [],
                parent_id: '',
                freeCategories: []
            }
        },

        components: {
            CreatingForm
        },

        mounted () {
            this.load();
        },

        methods: {
            async load () {
                let responsedData = await this.$http.get(`categories/${this.$route.params.id}`);
                this.category = responsedData.category;
                this.allCategories = await this.$http.get(`allCategories`);
                this.children = responsedData.children;    
                this.category.parent_id = this.category.parent_id ? this.category.parent_id : '';
                this.parent_id = this.category.parent_id; 
                this.freeCategories = responsedData.freeCategories;   
            },

            async save () {
                if (this.$refs.form.validate()){
                    const data = new FormData()
                    if (this.category && !this.category.parent_id){
                        this.category.parent_id = '';
                    }
                    for (let key in this.category) {
                        data.append(key, this.category[key]);
                    }

                    try {
                        this.loading = true;
                        let response = await this.$http.post(`categories/${this.$route.params.id}`, data);
                        this.loading = false;
                        await this.load();
                        if (response.result == 'success') {
                            this.flash('Категория обновлёна', 'success');
                        }
                    } catch (e) {
                        this.flash('Категория удалена', 'error');                    
                    }
                }
            },
            async deletecategory (category) {
                let response = await this.$http.delete(`categories/${category.id}`);
                console.log(response);
                await this.load();
                this.$parent.message = 'Категория ' + category.name + ' успешно удалёна';
                this.$parent.showModal = true;                
            },
            fetchData (id) {
                this.$router.push('/categories/' + id);
                if(id !== '') {
                    this.load();
                }
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>