<template>
    <v-layout column>        
        <v-layout>
            <v-form v-model="valid" ref="form" lazy-validation>
                <v-layout child-flex wrap>
                    <v-flex md12>
                            <h3>Русский язык</h3>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="name_ru"
                            label="Название категории"
                            v-model="category.name_ru"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="slug_ru"
                            label="Ссылка категории"
                            v-model="category.slug_ru"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md12>
                            <h3>Английский язык</h3>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="name_en"
                            label="Название категории"
                            v-model="category.name_en"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="slug_en"
                            label="Ссылка категории"
                            :rules="reqRules"
                            v-model="category.slug_en"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md12>
                            <h3>Польский язык</h3>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="name_pl"
                            label="Название категории"
                            v-model="category.name_pl"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6>
                        <v-text-field
                            name="slug_pl"
                            label="Ссылка категории"
                            v-model="category.slug_pl"
                            :rules="reqRules"
                            required
                        ></v-text-field>
                    </v-flex>

                    <v-flex md6 v-if="!children || children.length === 0">
                        <v-select
                            :items="[{name_ru: 'Нет родителькой категории', id: ''},...enableCategories]"
                            item-text="name_ru"
                            item-value="id"
                            v-model="category.parent_id"
                            label="Родительская категория"
                            single-line
                        ></v-select>
                    </v-flex>

                    <v-flex md6>
                        <v-checkbox mt-10 
                                    :true-value="1"  
                                    :false-value="0" 
                                    label="Показывать в слайдере" 
                                    v-model="category.inSlider">
                        </v-checkbox>
                    </v-flex>

                    <v-flex md12>
                        <v-layout child-flex wrap>
                            <v-flex md6>
                                <v-text-field prepend-icon="attach_file" single-line
                                v-model="fileName" label="Выберите картинку"
                                @click.native="onFocus" ref="fileTextField"></v-text-field>
                                <input type="file" ref="fileInput" @change="onFileChange">
                            </v-flex>
                            <v-flex md4>
                                <v-btn 
                                    v-if="category.image" 
                                    color="primary" dark 
                                    @click.stop="dialog = true">
                                    Смотреть
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                </v-layout>
            </v-form>   
        </v-layout>
        <v-layout v-if="!category.parent_id" child-flex wrap>
            <v-flex xs12 v-if="update">
                <v-card-title primary-title>
                    <div>
                        <h3 class="mb-0">Список подкатегорий</h3>
                    </div>
                </v-card-title>
                <v-data-table
                    :headers="headers"
                    :items="children"
                    hide-actions
                    class="elevation-2"
                    :no-data-text="`У ${category.name_ru} нет подкатегорий`"
                >
                    <template slot="items" slot-scope="props">
                        <td class="text-md-left">{{ props.item.name_ru }}</td>
                        <td class="text-md-center">{{ props.item.slug_ru }}</td>
                        <td class="text-md-center">{{ props.item.children_count }}</td>
                        <td class="text-md-center justify-center layout px-0">
                            <v-btn icon class="mx-0" @click="$emit('editcategory',props.item.id)">
                            <v-icon color="teal">edit</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="$emit('deletecategory', props.item)">
                            <v-icon color="pink">delete</v-icon>
                            </v-btn>
                        </td>
                    </template>

                    <template slot="footer">
                        <td colspan="2">
                            <v-select
                                :items="[{name_ru: 'Выберите подкатегорию', value: ''},...enableFreeCategories]"
                                item-text="name_ru"
                                v-model="clickedCategory"
                                label="Выберите подкатегорию"
                                single-line
                            ></v-select>
                        </td>
                        <td class="text-md-right" colspan="2">
                            <v-btn flat color="primary" @click="saveParent()">
                                Добавить подкатегорию
                            </v-btn>
                        </td>
                    </template>
                </v-data-table>
            </v-flex>
        </v-layout> 
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="category.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        props: ['category','update', 'allCategories', 'freeCategories', 'children'],
        data() {
            return {
                clickedCategory: [],
                valid: true,
                headers: [
                    {
                        text: 'Название категории',
                        align: 'left',
                        sortable: false,
                        value: 'name_ru'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug_ru',
                        sortable: false 
                    },
                    { 
                        text: 'Количество подкатегорий',
                        align: 'center',
                        value: 'children_count',
                        sortable: false
                    },
                    { text: 'Добавить', align: 'center', value: 'name', sortable: false }
                ],
                name: '',
                hideImage: false,
                dialog: false,
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },
        computed: {
            enableCategories: function () {
                if (this.allCategories) {
                    return this.allCategories.filter((item) => {
                        return this.category.id !== item.id;
                    });
                } else {
                    return [];
                }
            },
            enableFreeCategories: function () {
                if (this.freeCategories) {
                    return this.freeCategories.filter((item) => {
                        return !item.children_count;
                    });
                } else{
                    return [];
                }
            },
            fileName: function () {
                if (this.category && this.category.image) {
                    return this.category.image.toString() === '[object File]' ? this.category.image.name : this.category.image;
                } else {
                    return '';
                }
            }
        },
        methods: {
            async saveParent () {
                if (this.clickedCategory) {
                    this.clickedCategory.parent_id = this.category.id;
                    const data = new FormData()
                    for (let key in this.clickedCategory) {
                        data.append(key, this.clickedCategory[key]);
                    }

                    try {
                        let response = await this.$http.post(`categories/${this.clickedCategory.id}`, data);
                        this.$emit('refresh');
                        if (response.result == 'success') {
                            this.flash('Категория добавлена в список подкатегорий','success');
                            this.clickedCategory = [];
                        }
                    } catch (e) {
                        this.flash('Ошибка','error');            
                    }
                }
            },
            onFocus () {
                this.$refs.fileInput.click();
            },
            onFileChange ($event) {
                this.category.image = $event.target.files[0] || $event.dataTransfer.files[0];
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>