<template>
    <v-layout>
        <v-card>
            <v-container fluid pa-2>
                <v-card-title primary-title>
                    <div>
                        <h1 class="headline mb-0">Список категорий</h1>
                        <div>Верхний уровень категорий, чтобы увидеть подкатегорию перейдите в раздел реактирования категории.</div>
                    </div>
                </v-card-title>
                <v-container fluid grid-list-md pa-4>
                    <v-data-table
                        :headers="headers"
                        :items="categoriesFilter"
                        hide-actions
                        class="elevation-1"
                    >
                        <template slot="items" slot-scope="props">
                            <td class="text-md-left">{{ props.item.id }}</td>
                            <td class="text-md-left">{{ props.item.name_ru }}</td>
                            <td class="text-md-center">{{ props.item.slug_ru }}</td>
                            <td class="text-md-center">{{ props.item.children_count }}</td>
                            <td class="text-md-center">{{ !!props.item.inSlider ? 'Да' : 'Нет' }}</td>
                            <td class="justify-center layout px-0">
                                <v-btn icon class="mx-0" @click="editItem(props.item)">
                                <v-icon color="teal">edit</v-icon>
                                </v-btn>
                                <v-btn icon class="mx-0" @click="deletecategory(props.item)">
                                <v-icon color="pink">delete</v-icon>
                                </v-btn>
                            </td>
                        </template>
                    </v-data-table>
                </v-container>
            </v-container>
        </v-card>        
    </v-layout>
</template>

<script>
    export default {
        props: [
            'title',
        ],

        data() {
            return {
                categories: [],
                isCreate: false,
                filterName: '',
                headers: [
                    {
                        text: 'ID',
                        align: 'center',
                        sortable: false,
                        value: 'id'
                    },
                    {
                        text: 'Название категории',
                        align: 'left',
                        sortable: false,
                        value: 'name_ru'
                    },
                    { 
                        text: 'Адрес ссылки',
                        align: 'center',
                        value: 'slug_ru',
                        sortable: false 
                    },
                    { 
                        text: 'Количество подкатегорий',
                        align: 'center',
                        value: 'children_count',
                        sortable: false
                    },
                    { 
                        text: 'В слайдере',
                        align: 'center',
                        value: 'inSlider',
                        sortable: false
                    },
                    { text: '', align: 'center', value: 'name', sortable: false }
                ]
            }
        },

        created () {
        },

        mounted() {
            this.load();
        },

        computed: {
            categoriesFilter: function () {
                let globalContext = this;
                return this.categories.filter(function (category) {
                    return (category.name_ru.indexOf(globalContext.filterName) !== -1);
                })                
            }
        },

        methods: {
            async load () {
                var responsedData = await this.$http.get('categories');
                this.categories = responsedData.children;
            },

            async deletecategory (category) {
                try {
                    let response = await this.$http.delete(`categories/${category.id}`);
                    await this.load();
                    this.flash('Категория успешно удалёна', 'success');
                } catch(e) {
                    this.flash('Ошибка', 'error');
                }
                
            },
            editItem (category) {
                this.$router.push(`/categories/${category.id}`);
            }
        }
    }
</script>

<style>
    .card{
        width: 100%;
    }
    .table__overflow{
        overflow-x: hidden !important;
    }
</style>