<template>
	<swiper :options="swiperOption">
        <swiper-slide v-for="book, idx in books" :key="idx" class="resize"> 
        	<a href="">
		        <div class="image-container">
					<img :src="book.image_url" class="book" alt="">
		        	<img :src="'/assets/index/img/shadow.png'" class="shadow" alt="">	        	
		        </div>
		       	<div class="info">
		       		<p class="bookName">{{book.name}}</p>
		       		<p class="bookAuthor">{{book.author}}</p>
		       	</div>
	       		<p class="bookPrice">20 BYN</p>
       		</a>
        </swiper-slide>
    </swiper>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
export default {
	props: ['url'],
	data () {
		return {
			swiperOption: {
	          slidesPerView: 5,
	          spaceBetween: 15,
	          loop: false,
	          pagination: {
	            el: '.swiper-pagination',
	            clickable: true
	          }
	        },
	        books: []
		}
	},
	components: {
		swiper,
    	swiperSlide
	},
	created () {
		this.load();
	},
    methods: {
    	async load () {
    		this.books = await this.$http.get(this.url);
    	}
    }
}
</script>