@font-face {
    font-family: MuseoSansCyrlLight;
    src: url("/assets/index/fonts/MuseoSansCyr/Light.otf") format("opentype");
}

@font-face {
  font-family: MuseoSansCyrlThin;
  src: url("/assets/index/fonts/MuseoSansCyr/Thin.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlRegular;
    src: url("/assets/index/fonts/MuseoSansCyr/Regular.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlMedium;
    src: url("/assets/index/fonts/MuseoSansCyr/Medium.otf") format("opentype");
}

@font-face {
    font-family: MuseoSansCyrlBold;
    src: url("/assets/index/fonts/MuseoSansCyr/Bold.otf") format("opentype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 14px;
  vertical-align: baseline;
  background: transparent;
  font-family: MuseoSansCyrlRegular;
  text-decoration: none;
  color: rgb(30, 30, 30);
}
html,body{
  opacity: 0;
}
body .fon{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url('/assets/index/img/fon.jpg');
}

header{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;
  &.shadow{
    display: block;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.20);
  }
  & .langs img{
    width: 20px;
    height: 13px;
    margin-right: 10px;
    position: relative;
    top: 3px;
  }
  & .contacts {
    padding-right: 1.5rem;
  }
}

.header{
  position: absolute;
  top: 0;
  left: auto;
  width: 100%;
  z-index: 3;
  & .langs img{
    width: 20px;
    height: 13px;
    margin-right: 10px;
    position: relative;
    top: 3px;
  }
  & .contacts {
    padding-right: 1.5rem;
  }
}


.flex-column{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main{
  height: 100vh;
  overflow: hidden;
  & > img{
    position: relative;
    width: 75%;
    left: 25%;
    top: 18%;
    z-index: 1;
  }
  .fade{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: white;
  }
}
.white{
  padding: 6rem 0 4rem;
  background: white;
}
.paralax{
  background: rgba(255, 255, 255, 0.75);
}
.container{
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.__bottom {
    align-items: flex-end;
  }
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding{
  padding: 1rem 0;
}
.pad{
  padding: 6rem 0 4rem;
}
.pb-50{
  padding-bottom: 50px;
}
.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}
.mt-50{
  margin-top: 50px;
}
.mt-120{
  margin-top: 120px;
}
/*****		HEADER		*****/

.top-pane{
  background: #1BA39C;
  padding: .3rem 0;
  & .contacts a{
    text-decoration: none;
    color: white;
    margin-left: 1rem;
    font-size: 1rem;
  }
}
.mainTitle{
  font-size: 1.4rem;
}
.logo{
  & img{
    width: 180px;
    position: relative;
  }
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.menu{
  & > a{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1.3rem;
    padding: .5rem 1.5rem;
    margin-left: .5rem;
    border-bottom: 2px solid white;
    transition: .3s;
    &:hover{
      border-color: #1BA39C;
    }
    &#catalog, &#catalog2{
      padding: .5rem 1.5rem;
      background: #1BA39C;
      color: white;
      border-bottom: 2px solid white;
      cursor: pointer;
      &:hover{
        background: #147772;
      }
    }
  }
}

/**** MAIN ****/
.slogan{
  font-size: 3rem;
  letter-spacing: .1rem;
  line-height: 3.5rem;
  font-family: MuseoSansCyrlMedium;
  color: rgb(30, 30, 30);
  z-index: 2;
  width: 45%;
  @media screen and (max-width(900px)){
    width: 100%;
  }
}
.benefit{
  width: 300px;
  & h3{
    color: #1BA39C;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  & p{
    position: relative;
    font-size: 1rem;
    margin-top: .7rem;
    margin-left: 2rem;
    & span {
      position: absolute;
      margin: auto;
      top: .2rem;
      left: -1.5rem;
      color: #1BA39C;
    }
  }
}

.siema{
  text-align: center;
  padding-bottom: 4rem;
  & button{
    margin-top: -15px;
    background: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #1BA39C;
    outline: none;
    margin-right: 5px;
    &.active{
      background: #1BA39C;
    }
  }
  & .slide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    & img{
      display: inline-block;
      width: 550px;
      margin-right: 80px;
      &.trim{
        width: 370px;
      }
    }
    & > div{
      display: flex;
      align-items: center;
    }
    & > div > div{
      display: inline-block;
      width: 500px;
      text-align: left;
    }
    & h2 {
      font-family: MuseoSansCyrlThin;
      font-size: 2rem;
      line-height: 1.2;
      color: #1BA39C;
      margin-bottom: 1rem;
    }
    & p{
      color: rgb(30, 30, 30);
      line-height: 1.5;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      & > a {
        font-size: 1.3rem;
      }
    }
    & .more{
      display: block;
      color: #1BA39C;
      font-size: 1.1rem;
      &:hover{
        color: #147772;
        text-decoration: underline;
      }
    }
  }
}

.get{
  border-radius: 3px;
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #1BA39C;
  color: white;
  text-transform: uppercase;
  font-family: MuseoSansCyrlRegular;
  outline: none;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.2rem;
  transition: .5s;
  &:hover{
    background: #147772;
  }
}

.color{
  padding: 8rem 0;
  background: #1BA39C;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,0.40);
  color: white;
  & h4{
    margin-top: -2rem;
    margin-bottom: 6rem;
    text-align: center;
    font-size: 2.5rem;
    color: white;
  }
}
.attainments{
  & .attainments__inner{
    width: 280px;
    text-align: center;
    color: white;
    & p{
      color: white;
      font-size: 2rem;
      line-height: 2.3rem;
    }
    & .fa{
      font-size: 5rem;
      margin-bottom: 3rem;
    }
  }
}

.text-block{
  & > div {
    margin-bottom: 3rem;
  }
  & h4{
    color: #1BA39C;
    font-size: 2.2rem;
    margin: 2rem 0 1rem;
    font-family: MuseoSansCyrlMedium;
  }
  & p{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  & ul{
    margin: 1rem 0;
    margin-left: 2rem;
    list-style-type: square circle;
    & li{
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }
  }
}

.catalog{
  display: none;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  & .hr{
    height: 2px;
    width: 100%;
    background: rgb(80, 80, 80);
  }
  & .fa-close{
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: .5rem;
    right: 0;
    display: inline-block;
    transition: .5s;
    &:hover{
      color: red;
      transform: rotate(90deg);
    }
  }
  & h2{
    font-size: 3rem;
    margin: 1.5rem 0;
    color: rgb(30, 30, 30);
  }
  & .category{
    vertical-align: top;
    display: inline-block;
    max-width: 300px;
    margin-right: 50px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    & h4{
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      min-height: 3.5rem;
      & a{
        font-size: inherit;
        font-family: inherit;
      }
    }
    & p{
      position: relative;
      font-size: 1rem;
      margin-bottom: .8rem;
      padding-left: 1.5rem;
      & span{
        position: absolute;
        left: 0;
        top: .3rem;
        color: #147772;
      }
    }
    & a{
      font-size: 1.3rem;
      color: rgb(30, 30, 30);
      font-family: MuseoSansCyrlMedium;
      transition: .3s;
      display: block;
      & p {
        font-size: 1.3rem;
      }
      &:hover{
        transform: translate(7px);
        text-decoration: underline;
      }
    }
  }
}

.contact-form{
  display: none;
  position: fixed;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 3rem 0;
  & .hr{
    height: 2px;
    width: 100%;
    background: rgb(80, 80, 80);
  }
  & .fa-close{
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: .5rem;
    right: 0;
    display: inline-block;
    transition: .5s;
    &:hover{
      color: red;
      transform: rotate(90deg);
    }
  }
  & h2{
    font-size: 3rem;
    margin: 1.5rem 0;
    color: rgb(30, 30, 30);
  }
  & form{
    margin-top: 3rem;
  }
  & .input-line{
    padding: 2rem 0;
    & input, & textarea{
      transition: .5s;
      border: none;
      outline: none !important;
      border-bottom: 2px solid rgb(30, 30, 30);
      padding: .5rem;
      font-size: 1.2rem;
      width: 45%;
      resize: none;
      &:hover, &:focus{
        border-color: #1BA39C;
      }
    }
    & a, & button{
      display: block;
      font-size: 3rem;
      color: rgb(30, 30, 30);
      text-decoration: none;
      transform: translate(-30%);
      transition: .3s;
      background: none !important;
      border: none !important;
      &:hover{
        transform: translate(0);
        color: #1BA39C !important;
        text-decoration: underline;
      }
    }
  }
}

.grey{
  background: white;
  padding: 1rem 0;
  & .help{
    max-width: 500px;
    margin: 2rem;
    & h3{
      font-size: 2.8rem;
      margin-bottom: 1.5rem;
      color: #1BA39C;
      font-family: MuseoSansCyrlThin;
    }
    & p{
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}
.icon .fa{
  font-size: 15rem;
  margin: 7rem;
  color: #1BA39C;
}


/***Foooter***/
footer{
  background: white;
  position: relative;
  & .copyright{
    
    background: #1BA39C;
    padding: 6rem 0 1rem;
    text-align: center;
    & p{
      font-size: 1.2rem;
      color: white;
      margin-bottom: 2rem;
    }
  }
}
.map{
  width: 100%;
  height: 70vh;
}
.address{
  left: 60%;
  top: -110px; 
  position: absolute;
  width: 350px;
  padding: 1.7rem 1.5rem;
  background: white;
  box-shadow: 1px 3px 7px 1px rgba(0, 0, 0, 0.25);
  & > div {
    width: 265px;
    &:nth-child(2) {
      margin-left: -50px;
    }
  }
  & h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: #1BA39C;
    font-family: MuseoSansCyrlThin;
    white-space: nowrap;
  }
  & img{
    margin-bottom: 1rem;
    width: 150px;
  }
  & p {
    font-size: 1.1rem;
    &.right{
      text-align: right;
    }
  }
  & .small{
    font-size: .9rem;
    margin-bottom: .5rem;
    color:rgb(100, 100, 100);
    &.mb {
      margin-bottom: 1rem;
    }
  }
}

.text-center {
  text-align: center;
  & h2 {
    font-size: 3rem;
    font-family: MuseoSansCyrlLight;
    color: #1BA39C;
    margin-bottom: 1rem;
  }
  & p {
    font-size: 1.6rem;
    font-family: MuseoSansCyrlLight;
    color: rgb(180, 180, 180);
  }
}

.list{
  display: block;
  padding-left: 0;
  margin: 0;
  margin-top: 4rem;
  & li {
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3rem;
    width: 47.8%;
    padding-right: 20px;
    padding-left: 50px;
    position: relative;
    box-sizing: border-box;
    &:nth-child(2n) {
      margin-right: 0;
      margin-left: 0;
    }
    & h4{
      font-size: 1.6rem;
      margin-bottom: .8rem;
      color: rgb(30, 30, 30);
      font-family: MuseoSansCyrlLight;
    }
    & p {
      font-size: 1.2rem;
      color: rgb(60, 60, 60);
      font-family: MuseoSansCyrlThin;
      margin-bottom: .6rem;
    }
    & a {
      display: inline-block;
      color: #1BA39C;
      font-size: 1.2rem;
      transition: .5s;
      & span {
        color: inherit;
      }
      &:hover{
        transform: translate(1rem);
        text-decoration: underline;
      }
      &.name{
        display: block;
        color: rgb(30, 30, 30);
      }
      &.name:hover{
        transform: translate(0);
        text-decoration: underline;
      }
    }
    & > .fa {
      position: absolute;
      left: 0;
      top: .3rem;
      font-size: 2rem;
      color: #1BA39C;
    }
  }
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #1BA39C;
  margin-bottom: 2rem;
  & .image-container{
    display: inline-block;
    width: 35%;
    & img {
      width: 100%;
    }
  }
  & .info {
    display: inline-block;
    width: 55%;
    & h4{
      font-size: 1.8rem;
      font-family: MuseoSansCyrlLight;
      margin-bottom: 1.2rem;
    }
    & p{
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-family: MuseoSansCyrlThin;
    }
    & a {
      cursor: pointer;
      text-decoration: none;
      padding: 10px 30px;
      text-transform: uppercase;
      background: #1BA39C;
      color: white;
      transition: .5s;
      display: inline-block;
      margin-right: 1rem;
      &:hover{
        background: #147772;
      }
      &.flat{
        background: none;
        color: #1BA39C;
        &:hover{
          background: rgb(230, 230, 230);
        }
      }
    }
  }
}



.triangle{
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  width: 100px;
  border-top: 80px solid #1BA39C;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
}

/* Outer */
.popup {
	z-index: 99;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.35);
}
 
/* Inner */
.popup-inner {
	max-width:580px;
	padding: 10px 25px;
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  background:#fff;
  & h2 {
    font-size: 2rem;
    &.offer{
      margin: 1rem 0 2rem;
    }
  }
  & p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  & input, & textarea{
    transition: .5s;
    border: none;
    outline: none !important;
    border-bottom: 2px solid rgb(30, 30, 30);
    padding: .5rem;
    font-size: 1.2rem;
    width: 45%;
    resize: none;
    &:hover, &:focus{
      border-color: #1BA39C;
    }
  }
  & textarea{
    width: 100%;
  }
  & .input-line{
    padding: 2rem 0;
  }
  & button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px 30px;
    text-transform: uppercase;
    background: #1BA39C;
    color: white;
    transition: .5s;
    display: inline-block;
    margin-right: 1rem;
    &:hover{
      background: #147772;
    }
    & + & {
      margin-right: 1rem;
    }
    &.flat{
      background: none;
      color: #1BA39C;
      &:hover{
        background: rgb(230, 230, 230);
      }
    }
  }
  & .actions{
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
  }
  & .fa-close {
    cursor: pointer;
    display:inline-block;
    position:absolute;
    top:25px;
    right:30px;
    transition:ease 0.25s all;
    font-size:2rem;
    &:hover{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      color:rgba(255,0,0,1);
      text-decoration:none;
    }
  }
  & iframe{
    width: 100%;
    height: 60vh;
  }
}

#image-reel{
  width: 100% !important;
  height: auto !important;
  & img{
    width: 100% !important;
    height: auto !important;
  }
}
.reel{
  width: 100%;
  height: auto;
}