<template>
	<div class="search-form">
		<input @focus="showDropdown = true" @blur="showDropdown = false" class="search-form__input" type="text" v-model="template" placeholder="Поиск">
		<div v-if="showDropdown" class="search-form__dropdown">
			<div v-for="book, idx in searchedBooks.arr">
				{{book.name}}
			</div>
			<div v-if="searchedBooks.length === 0 && showDropdown">
				Книги не найдены
			</div>			
		</div>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				template: '',
				books: [],
				showDropdown: false

			}
		},
		created () {
			this.load();
		},
		computed: {
			searchedBooks () {
				let _vm = this;
				let arr = _vm.books.filter(function(book) {
					return book.name.indexOf(_vm.template) != -1;
				})
				let length = arr.length;
				return {
					arr: arr,
					length: length
				}
			}
		},
		methods: {
			async load () {
				this.books = await this.$http.get('allBooks');
			}
		}
	}
</script>