<template>
    <v-card id="create">
        <v-container fluid pa-2>
            <v-card-title primary-title>
                <div>
                    <h2 class="headline mb-0">Создание услуги</h2>
                    <div>* - обязательное поле</div>
                </div>
            </v-card-title>
            <v-container fluid grid-list-md pa-4>
                <creating-form
                    ref="form"
                    :product="product"
                    :mode="'create'"
                ></creating-form>
                <v-card-actions>
                    <v-container fluid class="align-end">
                        <v-btn @click="clear()">Очистить форму</v-btn>
                        <v-btn color="primary" @click="save()" :loading="loading">Сохранить</v-btn>
                    </v-container>
                </v-card-actions>
            </v-container> 
        </v-container>
    </v-card>
</template>

<script>
    import CreatingForm from './form.vue'
    import $ from 'jquery'
    export default {
        data() {
            return {
                product: {
                    name_ru: '',
                    name_en: '',
                    name_pl: '',
                    category_id: '',
                    photos: [],      
                    slug_ru: '',
                    slug_en: '',
                    slug_pl: '',                
                    about_ru: '',
                    about_en: '',
                    about_pl: '',
                    model_url: ''
                },
                loading: false
            }
        },

        components: {
            CreatingForm
        },

        methods: {
            async save () {
                if (this.$refs.form.validate()) {
                    this.loading = true;

                    const data = new FormData();
                    for (let key in this.product) {
                        if (key !== 'photos') {
                            data.append(key, this.product[key]);
                        }            
                    }
                    this.$http.post('products', data).then((response) => {
                        this.loading = false;
                        this.flash('Услуга успешно создана','success');
                        this.$refs.form.clear();
                        this.router.push('/products');
                    },(error) => {
                        this.loading = false;
                        this.flash(`Ошибка: ${error.message}`,'error');   
                    });
                }
            }
        }
    }
</script>
