<template>
    <v-layout>
        <v-form v-model="valid" ref="form" lazy-validation>
            <v-layout child-flex wrap>
                <v-flex md6>
                    <v-text-field
                        name="name_ru"
                        label="Ссылка на обьект"
                        v-model="product.model_url"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>
                <v-flex md6>
                    <v-select
                        :items="categories"
                        item-text="name_ru"
                        item-value="id"
                        v-model="product.category_id"
                        label="Категория"
                        single-line
                        :rules="reqRules"
                        required
                    ></v-select>
                </v-flex>
                <v-flex md12>
                    <v-layout child-flex wrap>
                    <v-flex md6>
                        <v-text-field prepend-icon="attach_file" single-line
                        v-model="fileName" label="Выберите картинку" :required="required"
                        @click.native="onFocus" :disabled="disabled" ref="fileTextField"></v-text-field>
                        <input type="file" ref="fileInput" @change="onFileChange">
                    </v-flex>
                    <v-flex md4>
                        <v-btn 
                            v-if="product.image_url && mode === 'update' && !hideImage" 
                            color="primary" dark 
                            @click.stop="dialog = true">
                            Смотреть
                        </v-btn>
                    </v-flex>
                    </v-layout>
                </v-flex>

                <v-flex md12>
                        <h3>Русский язык</h3>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="name_ru"
                        label="Название услуги"
                        v-model="product.name_ru"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="slug_ru"
                        label="Ссылка услуги"
                        v-model="product.slug_ru"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md12>
                    <v-text-field
                        name="about_ru"
                        label="Описание услуги"
                        v-model="product.about_ru"
                        multi-line
                    ></v-text-field>
                </v-flex>

                <v-flex md12>
                        <h3>Английский язык</h3>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="name_en"
                        label="Название услуги"
                        v-model="product.name_en"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="slug_en"
                        label="Ссылка услуги"
                        :rules="reqRules"
                        v-model="product.slug_en"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md12>
                    <v-text-field
                        name="about_en"
                        label="Описание услуги"
                        v-model="product.about_en"
                        multi-line
                    ></v-text-field>
                </v-flex>

                <v-flex md12>
                        <h3>Польский язык</h3>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="name_pl"
                        label="Название услуги"
                        v-model="product.name_pl"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md6>
                    <v-text-field
                        name="slug_pl"
                        label="Ссылка услуги"
                        v-model="product.slug_pl"
                        :rules="reqRules"
                        required
                    ></v-text-field>
                </v-flex>

                <v-flex md12>
                    <v-text-field
                        name="about_pl"
                        label="Описание услуги"
                        v-model="product.about_pl"
                        multi-line
                    ></v-text-field>
                </v-flex>
            </v-layout>
        </v-form> 
        <v-dialog v-model="dialog" max-width="500px">
            <v-card>
                <v-card-text>
                    <img :src="product.image_url" width="400px"/>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        props: ['product', 'mode'],

        data () {
            return {
                hideImage: false,
                dialog: false,
                categories: [],
                fileName: '',
                reqRules: [
                    v => !!v || 'Это обязательное поле'
                ]
            }
        },

        mounted() {
            this.$http.get('allCategories').then((response) => {
                this.categories = response;
            });
            if (this.mode === 'update') {
                this.fileName = this.product.image;
            }
        },

        methods: {
            onFocus () {
                this.$refs.fileInput.click();
            },
            onFileChange($event) {
                if (this.mode = 'update') {
                    this.hideImage = true;
                }
                this.product.image = $event.target.files[0] || $event.dataTransfer.files[0];
                this.fileName = $event.target.files[0].name || $event.dataTransfer.files[0].name;
            },
            validate () {
                return this.$refs.form.validate();
            },
            clear () {
                this.$refs.form.reset()
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>